
  <div class="home well">
  <h1>Bienvenido al Sistema de Control de Proyectos</h1>

  <h2>
    Esta es la pagina principal para el sistema propiedad de 
    <a href="http://rvallecilloconsultores.com">René Vallecillo y Consultores</a>
  </h2>

  <%= link_to "Registrarse", '#', class: "btn btn-large btn-primary" %>
</div>