<% provide(:title, 'Home') %>

<h1>Sistema de Control de Proyectos</h1>
<p>Esta será la pagina para el sistema de control 
	de proyectos(reneval) para la empresa 
	<a href="http://rvallecilloconsultores.com">René Vallecillo y Consultores</a>

</p>
