<% provide(:title, "Editar Cliente") %>
<%= render 'layouts/sidebar' %>

<div id="page-content" class="inset"> 
  <div class="row">
    <div class="col-md-12">
      <h1>Crear Cliente Nuevo</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
