@import "bootstrap";
@import "formtastic-bootstrap";

body{
  padding: 50px 0 0 0;
}
.home{
  text-align: center;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* form */

.field_with_errors {
  @extend .has-error;
}

.register{
  max-width: 500px;
  margin-bottom:10px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .danger;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.formtastic {
  @extend .col-md-6;
}

.control-group{
  @extend .form-group
}

/* tmp while better integration with bootstrap */

.error {
  @extend .has-error;
}

/* menu */

.nav-list li {
  display: block;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

#sb-menu {
  margin-left: -200px;
  left: 200px;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;

  .panel{
    border-radius:0px;
    + .panel{
      margin-top: 0px;
      border-top:0px;
    }
  }

  .list-group-item{
    &:first-child{
      border-radius:0px;
    }

    &:last-child{
      border-radius:0px;
    }
  }

  h4{
    a{
      span{
        margin-right: 10px;
      }
    }
  }

  .panel-heading{
    &:hover{
      background-color:#fff;
    }
    cursor: pointer;
  }
}

.bs-sidenav{
  li{
    a{
      color: rgba(255,255,255,0.4);

      &:hover{
        color: #fff;
        background-color: rgba(255,255,255,0.2);
      }
    }
  }
}


#page-content {
  width: 100%;
  padding-left:220px;
}

.inset{
  padding:20px;
}