<footer>
    <small>
    <a href="http://rvallecilloconsultores.com/">René Vallecillo & Consultores</a>
      por René Vallecillo
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><a href="http://rvallecilloconsultores.com/news">Noticias</a></li>
      </ul>
    </nav>
  </footer>