<div class="cold-md-3">
  <div class="bs-sidebar hidden-print affix"
    <ul class="nav bs-sidenav">
    <li class="active">
      <a href="index.html">
        <i class="icon-dashboard"></i>
        <span class="menu-text"> Dashboard </span>
      </a>
    </li>
    <li>
      <a href="typography.html">
        <i class="icon-text-width"></i>
        <span class="menu-text"> Typography </span>
      </a>
    </li> 
    </ul>
  </div> 
</div>